pandas>=2.0
scikit-learn>=1.3
kneed>=0.8
numpy>=1.24

# Testing (CI only, but fine to keep here for a lab)
pytest>=7.4

# Installing Amazon provider in the Airflow image
apache-airflow-providers-amazon
boto3
botocore